:root {
  --clr-body: rgb(74, 43, 148);
  --clr-primary: rgb(214, 128, 16);
  --clr-icons: rgb(182, 157, 77);
  --clr-header: #9c3d3d;
  --clr-light: #ffffff;
  --clr-dark: rgb(59, 56, 56);
  --clr-warning: rgb(184, 12, 12);
  --clr-fond: rgb(125, 117, 148);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  background-color: var(--clr-body);
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--clr-primary);
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: var(--clr-fond);
}

.item:first-child {
  margin: 0;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: var(--clr-icons);
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: var(--clr-warning);
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid var(--clr-fond);
}

.addForm input[type="text"] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--clr-light);
  color: var(--clr-icons);
  cursor: pointer;
}

button:focus,
button:hover {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid var(--clr-dark);
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

input {
  accent-color: var(--clr-body);
  color: var(--clr-light);
  background-color: var(--clr-body);
  padding: 10px 15px;
  border-radius: 3px;
}
